
.status-contract-badge {
  padding: 0.4rem 1rem !important; 
  display: inline-block;
  border-radius: 20px; 
  font-size: 16px !important;
  font-weight: 500;
  border: 2px solid; 
}

.status-contract-activo{
  border-color: #9ac4b6;
  color: #254925;
}

.status-contract-finalizado {
  border-color: rgb(231, 200, 158);
  color: #422f07;
}


.status-contract-en_renovacion {
  border-color: rgb(167, 197, 229);
  color: #0c5460;
}

.status-contract-rescindido {
  border-color: rgb(250, 169, 169);
  color: #470808;
}