
/* Badges de estado para artistas */
.status-artist-badge {
  padding: 0.4rem 1rem !important; 
  display: inline-block;
  border-radius: 20px; 
  font-size: 15px !important;
  font-weight: 500;
  border: 2px solid; 
}

.status-artist-active {
  border-color: #aafebe !important;
  color: #02370ee6;
}

.status-artist-paused {
  border-color:#ffd863;
  color: #624a02;
}

.status-artist-inactive {
  border-color: #ff8e99;
  color: #2b0105;
}

