
.status-appren-badge {
  padding: 0.4rem 1rem !important; 
  display: inline-block;
  border-radius: 20px; 
  font-size: 14px !important;
  font-weight: 500;
  border: 2px solid; 
}

.status-appren-en_entrenamiento {
  border-color: #9ac4b6;
  color: #254925;
}

.status-appren-proceso_de_seleccion {
  border-color: rgb(167, 197, 229);
  color: #0c5460;
}

.status-appren-transferido {
  border-color: #cc7b83;
  color: #721c24;
}

.trainingLevel-badge {
  padding: 0.4rem 1rem; 
  border-radius: 20px;
  font-size: 14px !important; 
  font-weight: 500; 
  display: inline-block;
  min-width: 120px;
  border: 2px solid; 
}

.trainingLevel-intermedio {
  border-color: #ffebad;
  color: #856404;
}

.trainingLevel-avanzado {
  border-color: rgb(167, 197, 229);
  color: #0c5460;
}

.trainingLevel-principiante {
  border-color: #cc7b83;
  color: #721c24;
}
